* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(../img/DALL·E\ 2024-12-11\ 13.24.13\ -\ A\ seamless\ pattern\ of\ beautiful\,\ intricate\ snowflakes\ falling\ on\ a\ deep\ blue\ night\ sky.\ The\ snowflakes\ should\ be\ highly\ detailed\ with\ unique\,\ artistic.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

textarea {
    resize: none;
    margin-top: 1rem;
}

li {
    list-style: none;
}

.tableau {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
}

.tai {
    display: grid;
    background: #087bbec2;
    align-items: start;
}

.all-post-it {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: 1rem;
    align-items: center;
    justify-items: center;
    padding: 1rem;
}

ul {
    display: grid;
    margin: 1rem;
    color: white;
}

li {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}

button {
    margin: 0.2rem;
    padding: 1rem;
    color: white;
}

input,
textarea {
    width: 100%;
    border: solid 0.2rem black;
}

input {
    height: 2rem;
    margin-top: 1rem;
}

button.cancel {
    background: red;
}

button.confirmed {
    background: green;
}

button.supprime {
    background: yellow;
    color: black;
}

.post-it {
    padding: 1rem;
    background: #eae672;
    border: solid 0.1rem black;
    border-radius: 5px 5px 20px 20px;
    width: 100%;
    max-width: 18.75rem;
    height: 100%;
    max-height: 25rem;
    box-shadow: 2px 2px 5px black;
    font-size: 1rem;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
    overflow: hidden;
    word-wrap: break-word;
}

.post-it p {
    text-align: start;
    margin-top: 1rem;
    font-size: 1rem;
    overflow: hidden;
}


.close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    padding-top: 0;
    background: #eae672;
    border: none;
    cursor: pointer;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 1rem;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

@media (max-width: 768px) {
    .tableau {
        grid-template-columns: 1fr;
    }

    .tai {
        padding: 1rem;
    }
}