* {
    margin: 0;
    padding: 0;
}
textarea {
    resize: none;
}
li {
    list-style: none;
}
.tableau {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
    background-image: url(https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/105/1059/1059848/snowfall-on-deep-blue-night-sky-seamless-pattern-f.jpg?1457279389);
}
.tai {
    display: grid;
}
.all-post-it {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
ul {
    display: grid;
    margin: 1rem;
    color: white;
}
li {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}
button{
    margin-left: 1rem;
    padding: 1rem;
    color: white;
}
input,textarea {
    width: 100%;
    border: solid 0.2rem black;
}
input{
    height: 2rem;
}
button.cancel {
    background: red;
}
button.confirmed{
    background: green;
}
form{
    background: #087bbec2;
}
.post-it{
    background: #eae672;
    border: solid 0.1rem black;
    width: 90%;
    height: 90%;
    box-shadow: 2px 2px 5px black;
    font-size: 1rem;
    -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  /* display: none; */
}

h1 {
    text-align: center;
}
p{
    text-align: start;
    margin-top: 5rem;
    font-size: 2rem;
}
